.container-fluid{
	display: inline-block;
}
@font-face {
  font-family: Turtles;
  src: local("Turtles"),
       url(Turtles.ttf);
}
body{
	background-image: url(../images/sewerScene.png);
	background-size: cover;
	padding: 15px;
	font-family: Turtles !important;
}
#fightStats{
	color: white;
	font-size: 24px;
	padding: 5px;
	background-color: black;
}

.playerContainer{
	position: relative;
	width: 45%;
	background: black;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	overflow: auto;
}

.playerContainer img{
	height: auto;
	width: 100%;
	margin: 5px;
	border-style: solid;
	border-width: 5px;
	border-radius: 20px;
	text-align: center;
	margin: 0;
}
.playerContainer:hover{
	opacity: 0.8;
	transform: rotate(-5deg);		
}

#Raphael img{
	border-color: red;
}

#Donatello img{
	border-color: purple;
}

#Leonardo img{
	border-color: blue;
}

#Michelangelo img{
	border-color: orange;
}

.fighterName, .fighterLife{
	position: static;
	text-align: center;
	margin: auto;	
	color: white;	
	
}

.fighterName{
	font-size: 24px;	
}

.fighterLife{	
	font-size: 20px;		
}

.titleLogo{
	width: 50%;
	height: auto;
}
#attackButton{
	text-align: center;
	font-size: 36px;
}
#resetButton{
	position: static;
	bottom: 0px;
	left: 0px;
}

#fighterChoice, #defenderChoice{
	font-size: 24px;
	color: white;
}

h3 {
	color: white;
	font-size: 36px;
}

#fightScene{
	height: 50%;
	width: 75%;
	align-content: center;
	display: inline-block;
	position: relative;
}